<!DOCTYPE html>
<html>
  <head>
    <%- include ("templates/head.ejs") %>
  </head>

  <body>
    <%- include ("templates/top.ejs") %>

    <table width="500" border="0" align="center">
      <tr>
        <th scope="col">
          <div id="TabbedPanels1" class="TabbedPanels">
            <div>
              <%- commands2 %> <%- commands3 %> <%- commands4 %> <%- commands5
              %> <%- commands6 %> <%- commands7 %> <%- commands8 %> <%-
              commands9 %> <%- commands10 %>
            </div>
          </div>
        </th>
      </tr>
    </table>

    <%- include ("templates/bottom.ejs") %>
  </body>
</html>
